nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003366;
  color: white;
  padding: 20px;
  text-align: center;
}

nav img {
  display: flex;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
  scale: 1.2;
  margin-left: 1em;
}

nav h1 {
  display: inline-block;
  font-size: 2.2em;
  font-weight: 600;
  margin: 0;
}

nav a {
  display: inline-block;
  font-size: 1.8em;
  margin: 0;
  margin-right: 0.2em;
  text-decoration: none;
  color: white;
}