body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f7f9fb;
  margin: 0;
  padding: 0;
}

.content-box {
  background: white;
  width: 80%;
  margin: 40px auto;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content-box h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: #003366;
  color: rgb(225, 225, 225);
  padding: 10px;
}

 td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
} 

 tr:nth-child(even) {
  background-color: #f2f6ff;
} 


